<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.mapper.OrderMapper">

    <resultMap id="orderWithCommodityWithUser" type="orderCommodityUser">
        <id column="o_id" property="oId" jdbcType="INTEGER"/>
        <result column="o_no" property="oNo" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <association property="user" javaType="User">
            <id column="u_id" property="uId" jdbcType="INTEGER"/>
            <result column="u_name" property="uName" jdbcType="VARCHAR"/>
            <result column="u_phone" property="uPhone" jdbcType="VARCHAR"/>
            <result column="u_address" property="uAddress" jdbcType="VARCHAR"/>
        </association>
        <association property="commodity" javaType="Commodity">
            <id column="c_id" property="cId" jdbcType="INTEGER"/>
            <result column="c_name" property="cName" jdbcType="VARCHAR"/>
            <result column="c_type" property="cType" jdbcType="VARCHAR"/>
            <result column="c_num" property="cNum" jdbcType="INTEGER"/>
            <result column="c_price" property="cPrice" jdbcType="DECIMAL"/>
        </association>
    </resultMap>

    <sql id="orderListSql">
        o.o_id, o.o_no, o.total_amount, o.create_time, o.update_time, o.status,
        c.c_id, c.c_name, c.c_type, c.c_num, c.c_price,
        u.u_id, u.u_name, u.u_phone, u.u_address
    </sql>

    <!--List<OrderCommodityUser> getOrderList(@Param("uId") Integer uId);-->
    <select id="getOrderList" resultMap="orderWithCommodityWithUser">
        SELECT <include refid="orderListSql"/>
        FROM `order` o
        INNER JOIN `user` u
        ON o.u_id = u.u_id
        INNER JOIN `commodity` c
        ON o.c_id = c.c_id
        WHERE o.u_id = #{uId}
        ORDER BY o.create_time DESC
    </select>

    <!--增加订单-->
    <insert id="insertOrder" parameterType="Order">
        INSERT INTO `order` (o_no,u_id,c_id,total_amount)
        values (#{oNo},#{uId},#{cId},#{totalAmount})
    </insert>

    <!--boolean orderExpired(@Param("oNo") String oNo, @Param("update_time")Date date);-->
    <!--只有未支付的订单才能过期-->
    <update id="orderExpired" >
        UPDATE `order`
        SET status = 3, update_time = `date`
        WHERE o_no = #{oNo}
        AND status = 0
    </update>

    <!--List<OrderCommodityUser> getOrderListByStatus(@Param("uId") Integer uId, @Param("status") Integer status);-->
    <select id="getOrderListByStatus" resultMap="orderWithCommodityWithUser">
        SELECT <include refid="orderListSql"/>
        FROM `order` o
        INNER JOIN `user` u
        ON o.u_id = u.u_id
        INNER JOIN `commodity` c
        ON o.c_id = c.c_id
        WHERE o.u_id = #{uId}
        AND o.status = #{status}
        ORDER BY o.create_time DESC
    </select>


</mapper>
